@import "../../style";

#home {
  background-color: $primary;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 5vw;
  @media screen and (min-width: $full-width) {
	font-size: 6em;
  }

  & div:nth-child(1) {
	letter-spacing: 0.36em;
  }

  & div:nth-child(2) {
	letter-spacing: 0.24em;
  }

  & div:nth-child(3) {
	letter-spacing: 0.14em;
  }
}
