@import "../style";
.img-block {
  background-color: #0A0101;
  color: white;
  width: 180px;
  margin: 0.5em;
  @media screen and (max-width: $mobile-width){
    width: 100%;
  }
  height: 150px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  padding: 1em;
  font-weight: normal;
  line-height: 1.5em;
  position: relative;
  b {
    color: $point;
    font-size: 1.5em;
  }
  img {
    object-fit: contain;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40%;
    max-height: 100px;
    &.freedom {
      transform: scaleX(-1);
    }
  }

}
