@import "../style";
.title {
  //width: 100%;
  text-align: center;
  padding: 3em 0;
}
.title__in {
  font-size: 4rem;
  display: inline;
  border-bottom: solid $primary-dark 0.15em;
  font-weight: bold;
  color: $primary-dark;
}
