@import url("//cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css");

$primary: #023E72;
$primary-dark: #05232E;
$point: #F59B00;
$full-width: 1920px;
$mobile-width: 920px;

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'KoPub Dotum', fantasy;
}
