<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="4294967295" />
            </requestFiltering>
        </security>
        <staticContent>
            <mimeMap fileExtension=".*" mimeType="application/octet-stream" />
        </staticContent>
        <directoryBrowse enabled="false" showFlags="Date, Time, Size, Extension, LongDate" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="error.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="index.php" />
            </files>
        </defaultDocument>
    </system.webServer>
    <system.web>
        <globalization enableClientBasedCulture="true" />
    </system.web>
    <system.net>
        <mailSettings>
            <smtp from="owjs3901@naver.com">
                <network host="localhost" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
